# yaml is case insensitive for THE FIRST CHARACTER booleans but I always use True and False just in case, tRue, faLse, etc... will not work

project:
# project info
  # name of your run
  name: test_run
  # make "True" if you want to keep intermediate BAM files for later use, otherwise they will be deleted after counts are generated
  save_files: False
  # "bam" if you want the program to save bam files, "cram" if you want the program to save cram files (compressed BAM for storage concerns), use with save_files: True
  save_type: bam
  # name of your conda environment that you will be using
  conda_env: rnaseq

reference:
# locations of ref files used in pipeline, placed within a reference dir that is under project_name dir
  # name of dir that genome fasta and gtf file are in, and wher star_index will be built
  ref_dir: reference
  # name/url of ref genome
  genome_fasta: mm39.fa
  genome_url: ftp://hgdownload.soe.ucsc.edu/goldenPath/mm39/bigZips/mm39.fa.gz
  # name/url of ref gtf file
  gtf_file: mm39.ncbiRefSeq.gtf
  gtf_url: ftp://hgdownload.soe.ucsc.edu/goldenPath/mm39/bigZips/genes/mm39.ncbiRefSeq.gtf.gz
  # name to be used for the star_index dir
  star_index: star_index/

tools:
# configs for the tools used in the pipeline

  fastp:
  # QC analysis and trimming of bad/short reads plus removing the adapter sequences

    # wether or not to save inputs
    save_inputs: True
    # minimum read length after trimming
    length_required: 30
    # Trim bases with Phred score < value, 20 = 1% error prob, 30 = 0.1% error prob, 10 = 10% error prob
    qualified_quality_phred: 20
    # automatically detect illumina adapters (any other string makes it so you use sbelow specified adapters)
    specify_adapter: False
    # illumina adapter seq in case we need to manually specify (if auto_detect_adapter = False)
    adapter_sequence: AGATCGGAAGAGCACACGTCTGAACTCCAGTCA
    adapter_sequence_r2: AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT

    # number of cpu cores to use
    threads: 4

  STAR:
  # generates reference library and maps bulk sequencing data to genes in library (BAM files)
  # may want to consider temp directories because STAR generates al ot of temp files and some clusters have fst scratch storage /scratch/$USER/

    # keeps genome index in memory for aliging many samples
    # use LoadAndKeep if running multiple jobs sequentially on the same node, otherwise Load is safer (LoadAndKeep for local use typically)
    genomeLoad: NoSharedMemory
    # Maximum number of multiple alignments, if a read maps to > value locations it is discarded
    outFilterMultimapNmax: 10
    # minimum match score of the read to the ref genome for alignment (0.2 means it must be an 80% match), optional we use star default by not specifying
    outFilterMismatchNoverLmax: 
    # output format and sorting method, we always sort with samtools (for downstream compatibility) so it is not needed here
    outSAMtype: BAM SortedByCoordinate
    # improves junction detection, first pass builds splice junction database second pass uses it to improve alignment
    twopassMode: Basic
    # type of file, zcat for zipped .gz files (preferred)
    file_type: zcat
    # set to read length -1, defines how far splice jucntion sequences extend on each side changes depending on how you produce data
    sjdbOverhang: 75
    # maximum length of intron allowed when mapping reads, 1,000,000 is standard for mammals
    alignIntronMax: 1000000
    # optional saves unmapped reads within the BAM file if "Within" or to a seperate FastQ if "Fastx"
    outReadsUnmapped: False

    # number of cpu cores to use
    threads: 8

  samtools:
  # sorts, indexes and handles BAM files output by STAR

    # max memory PER THREAD when sorting, 4G = 4GB per thread used to prevent out of memory errors
    # sort_memory x threads must be <= SLURM --mem allocation
    sortMemory: 4G
    # minimum map quality
    minMapQuality: 20
    # first filtering parameter, 0x2 removes unproperly paired reads leave blank/False to not use
    filter1: 0x2
    # second filtering parameter, 0x4 removes unmapped, 0x400 removes duplicate reads, and 0x404 removes both unmapped and duplicates leave blank/False to not use
    filter2: 0x404
    
    # optional, for use if you want to look at a specific chromosome (chr1 is a chromosome 1, chr2 is chromosome 2 etc...)
    chromosome: False
    # optional, coordinate range on that chromosome (ie 100000-200000) NEEDS a chromosome specified above in chromosome:
    chromosomeRange: 

    # number of cpu cores to use
    threads: 4

  featureCounts:
  # assigns aligned reads from BAM files to genes based on GTF annotation and generates gene expression counts

    # attribute in GTF file that defines the gene (default is gene_id)
    gtf_attr_type: gene_id
    # what type of genomic feature we want to work with, either gene or exon
    feature_type: exon
    # 0=unstranded, 1=forward, 2=reverse, match your library prep, modern illumina workflows are usually reverse stranded
    strand_specific: 2
    # true if using paried end data false if using single end sequencing, based on your kit
    isPairedEnd: True

    # optional, assign reads to the feature with largest overlap
    largestOverlap: False
    # optional, requre a certain fraction of feature to overlap
    fracOverlap: 0
    # optional, skip counting reads marked as duplicates
    ignoreDup: True
    # optional, count multi-mapping reads freactionally instead of discarding
    countFraction: False

    # number of cpu cores to use
    threads: 4